/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
}

h1{
	font-size: 2em; 
	font-weight: bold;
}




/*Style the images*/
img{
    height: auto;
    width:300px;
    border: 3px solid lightgoldenrodyellow;
    padding: 5px;
    border-radius: 1px;
    margin: 5px;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/
header, nav, main, h1, footer{
	border: 2px solid grey;
	margin: 10px 0;
}

img:hover{
	filter:grayscale();
	border: dashed;
}


/*Change the styling for all of the list 
items in the nav section*/
nav li{
	padding:4px;
	margin: 2px; 
	width:22%;
	border:1px solid black;
	display: inline-block;
	text-align: center;
}

.active{
    text-transform: uppercase;
	text-align: center;
	border:2px;
	background-color: #fff4b3;
	color:Black
}

.active a{
	text-decoration: none;;
}




/*Added this so the links stay the same color*/
a:visited{color:#575552}

